// ...
@Injectable({ providedIn: 'root' })
export class AuthGuard implements CanActivate {
  constructor(
    private authService: AuthService,
    private router: Router
  ) {}

  canActivate(): /*BS*/boolean | UrlTree/*BE*/ {
    /*BS*/if (this.authService.isAuthenticated) {
      return true;
    } else {
      window.alert('Not logged in!');
      return this.router.parseUrl('/home');
    }/*BE*/
  }
}
